body {
    background-color: black;
    background-image: url(images/background01.jpg);
    background-repeat: repeat;
}

tr>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    text-align: center;
    font-size: larger;
    color: orange;
    background-color: black;
    padding: 1%;
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}